.home-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.featured {
  padding: 60px 20px;

  text-align: center;
}

.featured h2 {
  margin-bottom: 30px;

  font-size: 2rem;
}
.categories-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.about-section {
  text-align: center;
  max-width: 800px;
  margin: auto;
}